body {
  background-image: url("https://i.pinimg.com/736x/c1/0f/6f/c10f6fb3dcce1f79657c387c6e0f9223.jpg");
}
h1{
  color:White;
  text-align: center;
  text-shadow: 2px 2px #364958;
  font-family: "Lucida Console", "Courier New", }
img:hover {
  box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5);
 
}

h3 {
  color: white;
}
ul {
  padding: 10px;
   margin: 10px ;
  list-style-type: circle;
  float:left;
   margin-left: 30px;
     margin-bottom: 30px;
  background-color: #9DA9A0;
}
Table{
  border:solid;
}
td, th {
  border: 2px solid #55828B;
  text-align: center;
  padding: 8px;
  width:30%;
 
}
tr:nth-child(even) {
  background-color: #87BBA2;
}
p{ background-color: #9DA9A0;
  color: black;}


      
